<form class="create-form" [formGroup]="createForm" (submit)="onSubmit()">
    <label for=" floorsCount">Floors count (pcs)</label>
    <input type="number" id="floorsCount" formControlName="floorsCount" />
    <label for=" mineWidth">Mine width (%)</label>
    <input type="number" id="mineWidth" formControlName="mineWidth" />
    <label for=" liftWidth">Lift width (%)</label>
    <input type="number" id="liftWidth" formControlName="liftWidth" />

    <button type="submit">Create lift mine</button>
</form>